
<mat-card>

  <div *ngIf="!hideControls" class="spc-30"></div>
  
  <h1 *ngIf="!hideControls" mat-header>BuildMate-Shop Cart</h1>
  
  <p>You have {{ getTotalItemCount() }} item(s) in your cart.</p>

  <div class="form-field-container">
          
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort>
            
        <!-- Product Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row"> <img class="product-img" src="../../../../assets/avatars/avatar3.png" alt=""> </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pattern </th>
          <td mat-cell *matCellDef="let row"> {{ getProductDetails(row.product) }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Qauntity </th>
          <td mat-cell *matCellDef="let row"> {{row.quantity | number}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td mat-cell *matCellDef="let row"> {{row.total | number}} </td>
          <td mat-footer-cell *matFooterCellDef> Ghc{{getTotalCost() | number}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>      
      <mat-card *ngIf="!hideControls" class="mat-elevation-z2">
        <button *ngIf="cart.length > 0 " mat-raised-button color="primary" routerLink="/account/check-out">Check Out</button> &nbsp;
        <button *ngIf="cart.length > 0" mat-button color="warn" (click)="clearCart()">Clear Transaction Cart</button>
      </mat-card>
    </div>

  </div>
</mat-card>