<!-- <div class="login-body">
  <div class="login-box">
    <img src="../../../../assets/avatars/avatar3.png" alt="..." class="avatar">
    <h1>Login Here</h1>
    <form action="">

      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username">

      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password">


      <button mat-raised-button>Login</button>
      <button mat-raised-button>Google Login</button>
  
      <a>Forgot password</a>
  
    </form>
  </div>
</div> -->

<!-- <div class="form-container">
	<button mat-raised-button (click)="loginGoogle()" class="google">Login with Google</button>
	<button mat-raised-button routerLink="/email-login" class="email">Email</button>
	<a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No Account? <strong>Create one here</strong></a>
</div> -->

