.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-container > * {
    width: 98%;
}
 
.add-batch {
    text-align: right;
    margin: 10px;
}
  
td, th {
    width: 25%;
}

.product-img {
    width: 100px;
    border-radius: 50%;
}