
.contact-us {
    background-color: white;
    padding: 20px;

    .contact-form {
        background-color: whitesmoke;
        padding: 30px;

        h2 {
            font-family: 'Catamaran';  
            font-weight: 200;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #111;
        }

        p {
            font-family: 'Cormorant Garamond';  
            font-weight: 200;
            font-size: 28px;
            color: #111;
        }

        .form-fields {
            display: flex;
            flex-direction: column;

            mat-form-field > * {
                width: 100%;
            }
        }

    }

    .details-image {  
        mat-card {
            mat-card-content {
                // padding: 20px;
                h2 {
                    font-family: 'Catamaran';  
                    font-weight: 200;
                    font-size: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #111;
                }
        
                article {
                    font-family: 'Cormorant Garamond';  
                    font-weight: 400;
                    font-size: 25px;
                    padding: 20px;
                    color: #111;
                }
            }
        }
    }
}