
<body>
  <div class="login-box">
    <img src="../../../assets/avatars/avatar3.png" alt="..." class="avatar">
    <h1>Login Here</h1>
    <form action="">

      <!-- <mat-form-field>
        <input type="email" matInput placeholder="Enter Username"> <br>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Enter Password"> <br>
      </mat-form-field> -->

      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username">

      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password">


      <button mat-raised-button>Login</button>
  
      <a>Forgot password</a>
  
    </form>
  </div>
</body>


<!-- <mat-form-field>
  <input type="text" matInput placeholder="Enter Username"> <br>
</mat-form-field>
<mat-form-field>
  <input type="text" matInput placeholder="Enter Password"> <br>
</mat-form-field> -->