.products-list {
    padding-top: 20px;
}

.product-block {
    padding: 10px;    
    display: inline-block;

    mat-card {
        max-height: 300px;
    }

    mat-card:hover {
        background:rgba(249, 253, 1, 0.424);
    }

    .product-content {
        margin: 0;

        h2 {
            font-family: 'Catamaran';  
            font-weight: 200;
            font-size: 25px;
            text-transform: uppercase;
            color: #111;
        }
    }
}

.text-center {
    text-align: center;
}