.products-list {
    padding-top: 20px;
}

.product-block {
    padding: 10px;    
    display: inline-block;

    mat-card {
        height: 470px;
    }

    mat-card:hover {
        background:rgba(249, 253, 1, 0.424);
    }

    .product-content {
        margin: 0;

        h2 {
            font-family: 'Catamaran';  
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: #111;
        }

        .product-info {
              
            article {
                strong {
                    font-family: 'Catamaran';
                    font-weight: 200;
                    font-size: 25px;
                    text-transform: uppercase;
                    color: #111;
                }
                span {
                    font-family: 'Catamaran';  
                    font-weight: 240;
                    font-size: 20px;
                    color: #111;
                }
    
                .social-buttons {
                    padding: 20px;
                    text-align: center;
    
                    button {
                        font-weight: 400;
                        font-size: 20px;
                        margin: 5px;
                    }
    
                    button:hover {
                        color: blue($color: #4137d1)
                    }
                }
    
                .actions {
                    padding: 20px;
    
                    button {
                        font-family: 'Cormorant Garamond';  
                        font-weight: 240;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}