<mat-card class="product-display">

  <mat-tab-group mat-stretch-tabs>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color="primary">verified_user</mat-icon> &nbsp;
        <h2>Products</h2>
      </ng-template>
      
      <div class="products-list" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
        <div class="product-block text-center" fxFlex="25">
          <mat-card mat-ripple routerLink="/product/XY67383893879">
              <img mat-card-image src="../../../assets/carousel/carousel2.jpg" alt="">
              <mat-card-content class="product-content text-center">
                <h2>Pattern Number</h2>
                
                <div class="product-description">
                  <strong>Description</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </span>
                </div>
                
                <div class="spc-5"></div>
      
                <div class="product-size">
                  <strong>Size</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    70 / 7 ft <small>(-+ 1 ft)</small>
                  </span>
                </div>
      
                <div class="spc-10"></div>
      
                <div class="social-buttons">
                  <button mat-mini-fab color="primary" matTooltip="Share on facebook">f</button>
                  <button mat-mini-fab color="accent" matTooltip="Share on twitter">t</button>
                  <button mat-mini-fab color="warn" matTooltip="Share on google +">G+</button>
                </div>

                <div class="spc-10"></div>

                <button mat-raised-button color="primary">Add To Order</button>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="product-block text-center" fxFlex="25">
          <mat-card mat-ripple routerLink="/product/XY67383893879">
              <img mat-card-image src="../../../assets/carousel/carousel7.jpg" alt="">
              <mat-card-content class="product-content text-center">
                <h2>Pattern Number</h2>
                
                <div class="product-description">
                  <strong>Description</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </span>
                </div>
                
                <div class="spc-5"></div>
      
                <div class="product-size">
                  <strong>Size</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    70 / 7 ft <small>(-+ 1 ft)</small>
                  </span>
                </div>
      
                <div class="spc-10"></div>
      
                <div class="social-buttons">
                  <button mat-mini-fab color="primary" matTooltip="Share on facebook">f</button>
                  <button mat-mini-fab color="accent" matTooltip="Share on twitter">t</button>
                  <button mat-mini-fab color="warn" matTooltip="Share on google +">G+</button>
                </div>

                <div class="spc-10"></div>

                <button mat-raised-button color="primary">Add To Order</button>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="product-block text-center" fxFlex="25">
          <mat-card mat-ripple routerLink="/product/XY67383893879">
              <img mat-card-image src="../../../assets/carousel/carousel5.jpg" alt="">
              <mat-card-content class="product-content text-center">
                <h2>Pattern Number</h2>
                
                <div class="product-description">
                  <strong>Description</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </span>
                </div>
                
                <div class="spc-5"></div>
      
                <div class="product-size">
                  <strong>Size</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    70 / 7 ft <small>(-+ 1 ft)</small>
                  </span>
                </div>
      
                <div class="spc-10"></div>
      
                <div class="social-buttons">
                  <button mat-mini-fab color="primary" matTooltip="Share on facebook">f</button>
                  <button mat-mini-fab color="accent" matTooltip="Share on twitter">t</button>
                  <button mat-mini-fab color="warn" matTooltip="Share on google +">G+</button>
                </div>

                <div class="spc-10"></div>

                <button mat-raised-button color="primary">Add To Order</button>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="product-block text-center" fxFlex="25">
          <mat-card mat-ripple routerLink="/product/XY67383893879">
              <img mat-card-image src="../../../assets/carousel/carousel9.jpg" alt="">
              <mat-card-content class="product-content text-center">
                <h2>Pattern Number</h2>
                
                <div class="product-description">
                  <strong>Description</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </span>
                </div>
                
                <div class="spc-5"></div>
      
                <div class="product-size">
                  <strong>Size</strong> <br>
                  <mat-divider></mat-divider>
                  <div class="spc-5"></div>
                  <span>
                    70 / 7 ft <small>(-+ 1 ft)</small>
                  </span>
                </div>
      
                <div class="spc-10"></div>
      
                <div class="social-buttons">
                  <button mat-mini-fab color="primary" matTooltip="Share on facebook">f</button>
                  <button mat-mini-fab color="accent" matTooltip="Share on twitter">t</button>
                  <button mat-mini-fab color="warn" matTooltip="Share on google +">G+</button>
                </div>

                <div class="spc-10"></div>

                <button mat-raised-button color="primary">Add To Order</button>

              </mat-card-content>
          </mat-card>
        </div>
      </div>


    </mat-tab>

  </mat-tab-group>
  
</mat-card>     