<!-- <div class="auth-body">
  <div class="login-box">
    <img src="../../../../assets/avatars/avatar3.png" alt="..." class="avatar">
    <h1>Login Here</h1>
    <form>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username...">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username...">
      </mat-form-field>

      <button mat-raised-button>Login</button>
  
      <a>Forgot password</a>
  
    </form>
  </div>
</div> -->

<div class="login-body">

    <div fxLayout="row" fxLayout.xs="column" fxfxLayoutAlign="center center">
      <div fxFlex>

        <mat-card class="login-box">
          <img src="../../../../assets/avatars/avatar3.png" alt="..." class="avatar">
          <h1>Login Here</h1>

          <form>

            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter Username...">
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter Username...">
            </mat-form-field>

            <mat-card-actions>
              <button mat-raised-button>Login</button>
            </mat-card-actions>

            <a mat-button>Forgot Password</a>

          </form>
        </mat-card>

      </div>
    </div>
</div>
  
  