
<app-breadcrum *ngIf="showBreadcrum" [pageHeader]="pageHeader" [pageText]="pageText"></app-breadcrum>

<div class="service-details">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <div class="service-block" fxFlex="60">
      <mat-card>
        <img mat-card-image src="../../../assets/carousel/carousel6.jpg" alt="...">

        <mat-card-content class="service-content">
          <h2 class="text-center">Interior</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio minus nulla aut cum, temporibus aliquam a voluptates? 
            Aliquid, non, quas cum tenetur architecto, dolorem quisquam error 
            assumenda est possimus adipisci.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="service-categories" fxFlex="30">
      <mat-card>
        <mat-nav-list>  

          <mat-list-item>
            <a matLine>Interior</a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <a matLine>Exterior</a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <a matLine>Landscape</a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <a matLine>Gallery</a>
          </mat-list-item>

        </mat-nav-list>
      </mat-card>

    </div>

  </div>  
  
  <div class="spc-20"></div>

  <app-product-list></app-product-list>

</div>