
<app-breadcrum *ngIf="showBreadcrum" [pageHeader]="pageHeader" [pageText]="pageText"></app-breadcrum>

<div class="our-recent-projects">
    
    <div class="spc-20"></div>

    <div *ngIf="!showBreadcrum" class="category-header text-center">
        <h1>Our Recent Projects</h1>
    </div>
    
    <div class="spc-10"></div>
  
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    
        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/001">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/002">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/003">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/004">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/005">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="project-block text-center" fxFlex="30">
            <mat-card mat-ripple routerLink="/project/006">
                <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                <mat-card-content class="project-content text-center last-child">
                    <h2>Project Caption</h2>
                    <p *ngIf="!showBreadcrum">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
         
    </div>
    
    <div class="actions">
        <button *ngIf="!showBreadcrum" mat-raised-button color="primary" routerLink="/projects">
            <span>View All Projects</span>
        </button>
    </div>

</div>