
.our-recent-projects {
    background-color: whitesmoke;
    padding: 20px 0;
}

.project-block {
    margin-bottom: 30px;
    padding: 10px;
    // width: 400px;
    display: inline-block;

    .project-content {
        h2 {
            font-family: 'Catamaran';  
            font-weight: 200;
            font-size: 25px;
            text-transform: uppercase;
            color: #111;
        }

        p {
            font-family: 'Cormorant Garamond';  
            font-weight: 200;
            font-size: 25px;
            color: #111;
        }
    }
}

.category-header {
    h1 {
        font-family: 'Catamaran';  
        font-weight: 200;
        font-size: 50px;
        text-transform: uppercase;
        color: #111;
    }
}

.text-center {
    text-align: center;
}


mat-card:hover {
    background:rgba(249, 253, 1, 0.424);
    // background:rgba(0,0,0,.04);
}

.mat-card .last-child {
    margin-bottom: 0;
}

.actions {

    text-align: center;
    padding: 0 0 20px 0;

    .mat-raised-button {
        line-height: 50px;
        border-radius: 40px;
        text-align: center;
        width: 200px;
        font-size: 20px;     
        // background-color: #131313;
        color: whitesmoke;               
    }
}
