.card-wrapper {
    display: 100%;
    margin: 20px;
}

.margin-20 {
    margin: 11px 20px 20px 20px;
}

.add-new {
    text-align: right; 
}

.flex-details { 
    display: flex;
    flex-direction: column;
}