
<mat-card>

  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

    <div fxFlex="24" fxFlexOrder.xs="1">
      <div class="flex-details">
        <h3>Filter by Pattern</h3>
        <mat-form-field fxFlex.sm="style='font-size:10px;'">
          <span matPrefix>
            <mat-icon>search</mat-icon> &nbsp;
          </span>
          <input matInput #query (keyup)="search(query.value)" [(ngModel)]="searchQry" name="searchQuery" placeholder="Search Product...">
          <button mat-button *ngIf="searchQry" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    
    <div fxFlex fxFlexOrder.xs="2">
      <div class="flex-details margin-20">

        <section>
          <div class="add-new">
              <a mat-raised-button color="primary" routerLink="/account/product-form">
              <mat-icon>add</mat-icon> &nbsp;
              Add Product
            </a>
          </div>
        </section>

        <mat-nav-list>
          <mat-list-item *ngIf="filteredProduct?.length > 0">
            <mat-divider></mat-divider>
            <h3 matLine>  
              <strong>                  
                {{ filteredProduct?.length }} record(s) found.
              </strong>
            </h3>
          </mat-list-item>

          <div *ngIf="filteredProduct?.length < 1"> 
            <p>
              No record(s) found :(
            </p>
          </div>

          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

          <mat-list-item *ngFor="let product of filteredProduct" routerLink="/account/product/{{ product.id }}/transaction-log">
            <mat-divider></mat-divider>
            <img *ngIf="product?.avatar; else noImageAvatar" matListAvatar [src]="getAvatarDetails(product?.avatar)" [alt]="product?.pattern">
            <h3 matLine> 
              <strong>                  
                {{ product?.pattern }}              
              </strong>
            </h3>
            <p matLine>
              Category -- <strong>{{ getCategorDetails(product?.category) }}</strong> <br>  
            </p>
            <p matLine>
              Unit Price (Ghc) -- <strong>{{ product?.unitPrice }}</strong>  
            </p>

            <button mat-icon-button>
              <mat-icon color="primary">search</mat-icon>
            </button>

          </mat-list-item>
        </mat-nav-list>

        <ng-template #noImageAvatar>
          <img matListAvatar src="../../../../assets/avatars/avatar4.png" alt="..."> &nbsp; &nbsp;
        </ng-template>

      </div>
    </div>
    
  </div> 
  
</mat-card>