<div class="form-field-container">
          
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
          
      <!-- Product Column -->
      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff </th>
        <td mat-cell *matCellDef="let row"> {{ getStaffDetails(row.staff) }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{ row.transactionType }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
        <td mat-cell *matCellDef="let row"> {{ row.unitPrice | number }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{ row.quantity | number }} </td>
        <!-- <td mat-footer-cell *matFooterCellDef> Total (GHC)</td> -->
      </ng-container>
      
      <!-- <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance (Ghc) </th>
        <td mat-cell *matCellDef="let row"> {{row.balance | number}} </td>
        <td mat-footer-cell *matFooterCellDef> {{ getBalanceTotalCost() | number }} </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
    </table>

    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>  
   
  </div> 

</div>
