/* tool-bar */
mat-toolbar {
    height:  100px !important;
    min-height: 100px !important;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

mat-toolbar mat-toolbar-row {
    height: 100px !important;
}

.main-nav .header-brand {
    font-size: 24px;
    color: #111;
    text-transform: uppercase;
    display: block;
}

/* links */
.activated {
    background: #1c8adb;  
}

.mat-button {
    font-size: 18px;
    color: #111;
    display: block;
    line-height: 100px;
}

body {
    background-color: #f3f3f3;
}

.footer {
    height: 500px;
    background: url(../../../assets/banners/banner1.jpg);

    .branding {
        position: static;
        bottom: 0;
        padding: 20px;
        span {
            padding: 20px;
            color: whitesmoke;
            font-family: 'Catamaran';  
            font-size: 25px;
            font-weight: 400;
            background: url(../../../assets/banners/banner1.jpg); 
        }
    }
   

    .footer-notes {
        padding: 30px;
        height: 250px;
        margin: 0;

        h2 {
            margin: 0;
            color: whitesmoke;
            font-family: 'Catamaran';  
            font-size: 25px;
            font-weight: 400;
            text-transform: uppercase;
        }
    
        p {
            font-family: 'Cormorant Garamond';  
            font-weight: 200;
            font-size: 22px;
            color: whitesmoke;
            line-height: 32px;
            letter-spacing: 2px;
        }
    }

}
