<mat-toolbar class="main-nav mat-elevation-z5">
  
    <a mat-button class="header-brand" routerLink="/" fxShow.xs="false">BuildMate Interior</a>
            
    <span class="fill-remaining-space"></span>
    
    <a mat-button routerLinkActive="active">Services</a>    
    <a mat-button routerLink="" routerLinkActive="active">Portfolio</a>    
    <a mat-button routerLink="" routerLinkActive="active">Contact</a>    
    <a mat-button routerLink="/auth/login" routerLinkActive="active">Account</a>            
    

</mat-toolbar>

<perfect-scrollbar [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '-300px'}" [config]="config">
    <div>
        <router-outlet></router-outlet> 
    </div>

    <div style="height: 300px"></div> 
</perfect-scrollbar> 

<footer class="footer">
    <span>Powered By CYBOTECH CORP</span>
</footer> 


