/* tool-bar */
mat-toolbar {
    height:  100px !important;
    min-height: 100px !important;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

mat-toolbar mat-toolbar-row {
    height: 100px !important;
}

.main-nav .header-brand {
    font-size: 24px;
    color: #111;
    text-transform: uppercase;
    display: block;
}

/* links */
.activated {
    background: #1c8adb;  
}

.mat-button {
    font-size: 18px;
    color: #111;
    display: block;
    line-height: 100px;
}

body {
    background-color: #f3f3f3;
}
