<app-breadcrum *ngIf="showBreadcrum" [pageHeader]="pageHeader" [pageText]="pageText"></app-breadcrum>

<div class="product-details">

  <div fxLayout="row" fxLayout.xs="column">

    <div class="product-thumb" fxFlex="20">
      <div class="thumbnail">
        <img src="../../../assets/carousel/carousel2.jpg" alt="">
        <img src="../../../assets/carousel/carousel4.jpg" alt="">
        <img src="../../../assets/carousel/carousel8.jpg" alt="">
      </div>

      <!-- <div class="thumbnail">
      </div>

      <div class="thumbnail">
      </div> -->
    </div>

    <div fxFlex="20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis id sint molestias praesentium cumque eaque tempora 
      rerum iste facere unde, aspernatur voluptatem dolores rem 
      voluptates eligendi atque assumenda minima natus.
    </div>

    <div fxFlex="40">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis id sint molestias praesentium cumque eaque tempora 
      rerum iste facere unde, aspernatur voluptatem dolores rem 
      voluptates eligendi atque assumenda minima natus.
    </div>

  </div>

</div>
