<mat-card class="background-card">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">

    <div fxFlex fxFlexOrder.xs="1">

      <div class="spc-10"></div>

      <mat-card class="product-card">
        <img *ngIf="staff.avatar; else noImageAvatar" mat-card-image [src]="getAvatarDetails()" [alt]="staff.nick">
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>

          <div class="profile-title">
            <h1 mat-header>{{ staff?.names }}</h1> 
            <h3>{{ staff?.gender }}</h3>
            <p>{{ staff?.dob?.toDate() | date: 'longDate'}}</p>
          </div>

          <div class="spc-10"></div>

          <div class="profile-actions">
            <button mat-raised-button color="primary" matTooltip="Assign staff role" (click)="showDialog()">
              Assign Role
            </button> &nbsp;
            <button mat-raised-button color="warn" matTooltip="Delete staff!" (click)="deleteStaff()">
              Delete Staff
            </button>
          </div>
        </mat-card-content>

        <div class="profile-nav">
          <mat-nav-list>
            <mat-divider></mat-divider>

            <mat-list-item (click)="navigate('overview')" [class.list-item-active]="routeToDisplay === 'overview'">
              <mat-icon matListIcon>home</mat-icon>
              <a matLine>Overview</a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="navigate('settings')" [class.list-item-active]="routeToDisplay === 'settings'">
              <mat-icon matListIcon>settings</mat-icon>
              <a matLine>Settings</a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card> 
      
      <mat-card>        
        <h3 mat-subheader>Contact Information</h3>
        <mat-card-content>

          <mat-nav-list>
            <mat-list-item>
              <mat-icon matListIcon>email</mat-icon>
              <span matLine>{{ staff?.contact?.email }}</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>phone</mat-icon>
              <span matLine>{{ staff?.contact?.phone }}</span>
              <span matLine>{{ staff?.contact?.otherPhones }}</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>location_on</mat-icon>
              <span matLine>{{ staff?.contact?.address }}</span>
            </mat-list-item>
          </mat-nav-list>

        </mat-card-content>
      </mat-card>
    </div>
    
    <div fxFlex="75" fxFlexOrder.xs="2">

      <div class="spc-10"></div>

      <mat-card class="product-display-route">
        <mat-tab-group
          (selectedTabChange)="onLinkClick($event)" 
          [selectedIndex]="selectedTab" 
          mat-stretch-tabs>
      
          <mat-tab *ngFor="let link of navLinks" [label]="link.label">
            <ng-template mat-tab-label>
              <mat-icon color="primary">{{ link.icon }}</mat-icon> &nbsp;
              {{ link.label }}
            </ng-template>
          </mat-tab>
      
        </mat-tab-group>
      
        <router-outlet></router-outlet>
      </mat-card>      
    </div>
    
  </div>

</mat-card>
  