<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

    
    <div fxFlex="35" fxFlexOrder.xs="1">
        
        <div class="quick-staffs">
            <app-quick-staffs></app-quick-staffs>
        </div>
        
    </div>

    <div fxFlex="65" fxFlexOrder.xs="2">

        <mat-card class="recent-orders">
            <app-recent-orders></app-recent-orders>
        </mat-card>        

        <div class="spc-5"></div>

        <mat-card class="quick-products">
            <app-quick-products></app-quick-products>
        </mat-card>
    
    </div>

</div>