<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

    
    <div fxFlex="40" fxFlexOrder.xs="1">    
    
        
        <mat-card class="quick-staffs">
            <mat-card-header>
                <h3>Staffs</h3>
            </mat-card-header>
            
            <app-quick-staffs></app-quick-staffs>
        </mat-card>
        
    </div>

    <div fxFlex="60" fxFlexOrder.xs="2">
        
        <mat-card class="quick-products">
            <mat-card-header>
                <h3>Products</h3>
            </mat-card-header>

            <app-quick-products></app-quick-products>
        </mat-card>
        
    </div>
    
</div>

<div class="spc-5"></div>

<mat-card class="recent-orders">
    <mat-card-header>
        <h3>Recent Orders</h3>
    </mat-card-header>

    <app-recent-orders></app-recent-orders>
</mat-card>