<mat-card mat-ripple routerLink="/product/XY67383893879">
  <img mat-card-image [src]="avatar" [alt]="product.pattern">
  <!-- <img mat-card-image src="../../../assets/carousel/carousel2.jpg" alt=""> -->
  <mat-card-content class="product-content text-center">
    <h2>{{ product.pattern }}</h2>
    
    <div class="product-description">
      <strong>Description</strong> <br>
      <mat-divider></mat-divider>
      <div class="spc-5"></div>
      <span>
        {{ product.description }}
      </span>
    </div>
    
    <!-- <div class="spc-5"></div>

    <div class="product-size">
      <strong>Size</strong> <br>
      <mat-divider></mat-divider>
      <div class="spc-5"></div>
      <span>
        70 / 7 ft <small>(-+ 1 ft)</small>
      </span>
    </div> -->

    <div class="spc-10"></div>

    <div class="product-price">
      <span>GHC {{ product.unitPrice }}</span> <br>
      <small>(Negociable)</small>
    </div>

    <div class="spc-10"></div>

    <div class="social-buttons">
      <button mat-mini-fab color="primary" matTooltip="Share on facebook">f</button>
      <button mat-mini-fab color="accent" matTooltip="Share on twitter">t</button>
      <button mat-mini-fab color="warn" matTooltip="Share on google +">G+</button>
    </div>

    <div class="spc-10"></div>
  
    <button mat-raised-button color="primary">Add To Order</button>

  </mat-card-content>
</mat-card>