@import url('https://fonts.googleapis.com/css?family=Catamaran:400,900|Cormorant+Garamond');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';
// @import '~@ngx-share/button/styles/themes/modern/modern-light-theme';

@import "~@angular/material/prebuilt-themes/indigo-pink";

html, body, app-root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0; 
    background: #f2f2f2;
    font-family: 'Catamaran', 'Roboto', sans-serif !important;  
    /* height: 100vh; */
    overflow: hidden;
    margin:0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.spc-5 {
    padding: 5px;
}
.spc-10 {
    padding: 10px;
}

.spc-20 {
    padding: 20px;
}

.spc-30 {
    padding: 20px;
}
