
<app-breadcrum *ngIf="showBreadcrum" [pageHeader]="pageHeader" [pageText]="pageText"></app-breadcrum>

<div class="our-services">

  <div class="spc-20"></div>

  <div *ngIf="!showBreadcrum" class="category-header text-center">
      <h1>Our Services</h1>
  </div>

  <div class="spc-10"></div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" >
      <div fxFlex="30">
          <div class="service-block text-center">
              <mat-card mat-ripple routerLink="/service/interior">
                  <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                  <mat-card-content class="service-content text-center">
                      <h2>Interior</h2>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Expedita sapiente voluptate, quam a eveniet omnis eum alias 
                          dicta tempora sed cupiditate! Blanditiis expedita, 
                          vero quos qui ipsum possimus cum fugit.
                      </p>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
      <div fxFlex="30">
          <div class="service-block text-center">
              <mat-card mat-ripple routerLink="/service/Exterior">
                  <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                  <mat-card-content class="service-content text-center" >
                      <h2>Exterior</h2>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Expedita sapiente voluptate, quam a eveniet omnis eum alias 
                          dicta tempora sed cupiditate! Blanditiis expedita, 
                          vero quos qui ipsum possimus cum fugit.
                      </p>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
      <div fxFlex="30">
          <div class="service-block text-center">
              <mat-card mat-ripple routerLink="/service/landscape">
                  <img mat-card-image src="../../../assets/carousel/carousel1.jpg" alt="">
                  <mat-card-content class="service-content text-center">
                      <h2>Landscape</h2>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Expedita sapiente voluptate, quam a eveniet omnis eum alias 
                          dicta tempora sed cupiditate! Blanditiis expedita, 
                          vero quos qui ipsum possimus cum fugit.
                      </p>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </div>

</div>