
.our-services {
    background-color: #fff;
}

.service-block {
    margin-bottom: 30px;

    .service-content {
        h2 {
            font-family: 'Catamaran';  
            font-weight: 200;
            font-size: 40px;
            text-transform: uppercase;
            color: #111;
        }

        p {
            font-family: 'Cormorant Garamond';  
            font-weight: 200;
            font-size: 28px;
            color: #111;
        }
    }
}

.category-header {
    h1 {
        font-family: 'Catamaran';  
        font-weight: 200;
        font-size: 50px;
        text-transform: uppercase;
        color: #111;
    }
}

.text-center {
    text-align: center;
}